elasticsearch
fastapi
langchain
langchain_core
langchain_google_genai
langchain_openai
protobuf
pydub
PyPDF2
python-dotenv
requests
streamlit
uvicorn
python-multipart
google.generativeai
python-dotenv